#basic_filter, #advance_filter{
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    height: 100px;
    padding: 20px;
}

#advance_filter{
    display: none;
 }

.dropdown {
    display: inline-block;
    float: left;
}

.dropdown-content {
    display: none;
    height: 40px;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
    display: inline-block;
}

.dropdown-content a button{
    width: 74px;
}

.drop-btn{
    width: 100%;
}

iframe{
    width: 100%;
    height: 600px;
}